.trending {
    padding: 2rem;
    background-color: #e9ece9;
    margin-bottom: 1rem;
}
.trending__title {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    grid-auto-rows: auto;
    grid-gap: 4rem;
    grid-row-gap: 2rem;
    background-color: #e9ece9;
}
.trending__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    color: black;
}
.singlecontent__content-uparrow {
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right: 2rem;
    border: 2px solid;
    border-radius: 17px;
    padding: 4px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.singlecontent__content-uparrow:hover{
    box-shadow: 10px 10px 5px black;
}