*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.results__content {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: darkgray;
}
.results__content-poster {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.results__content-poster img {
    width: 40vw;
    margin: 1rem;
    padding: 1rem;
    height: 100vh;
}
.results__content-poster img:hover {
    box-shadow: 6px 6px 5px #9ACD32;    
}
.results__back-button {
    padding: 10px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.5s ease-in-out;
    margin-top: 1rem;
    margin-left: 2rem;
    cursor: pointer;
    background-color:#9ACD32;
    font-size: 20px;
}
.results__back-button a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.results__back-button:hover {
    background-color: white;
    box-shadow: 3px 3px 5px black;
}
.results__content-details {
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
}
.results__content-details h1 {
    font-size: 30px;
    font-weight: 900;
    padding: 1rem;
    width: 49vw;
    color: white;
}
.results__content-details h2 {
    font-size: 20px;
    line-height: 35px;
    font-weight: 700;
    padding: 1rem;
    padding-top: 2rem;
    color: white;
}
.results__content-rate {
    display: flex;
    font-size: 15px;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
}
.results__content-rate h3 {
    font-weight: 500;
}
@media screen and (max-width:1050px) {
    .results__content-details h1 {
        font-size: 20px;
        padding: 10px;
    }
    .results__content-details h2 {
        font-size: 15px;
        padding: 1rem;
    }
}
@media screen and (max-width:650px) {
    .results__content {
        flex-direction: column;
    }
    .results__content-poster {
        align-items: center;
    }
    .results__back-button {
        margin-left: 0rem;
        margin-bottom: 10px;
    }
    .results__content-poster img {
        width: 90vw;
        margin:0;
        height: 60vh;
        box-shadow: 3px 3px 5px #9ACD32;
    }
    .results__content-details h1 {
        width: 95vw;
    }
    .results__content-details h2 {
        font-size: 12px;
        padding: 10px;
    }
}