.detail__content-title {
    display: flex;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.detail__content-img img {
    width: 20vw;
    height: 50vh;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.detail__content-img img:hover {
    box-shadow: 8px 8px 5px black;
    transform: scale(1.01);
    z-index: 2;
}
.detail__content-date {
    display: flex;
    justify-content: space-around;
    font-weight: 900;
    margin-top: 1rem;
}
.detail__content-rate {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    margin: 1rem;
}
.detail__content-rate__rating {

}
/* below two styling are for pop up notification */
.model-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(189, 189, 189, 0.95);
}
.model-container{
    position: fixed;
    max-width: 30rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e9ece9;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
}
.subtitle {
    font-size: 12px;
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    letter-spacing: 1px;
}
.button {
    margin-top: 1rem;
    padding: 10px;
    border-radius: 15px;
}
.button:hover{
    background-color: black;
    color: white;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}
.header {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
/* .detail__content-subtitle {
    visibility: hidden;
    height: 0;
}
.detail__content:hover .detail__content-subtitle {
    visibility: visible;
    height: 15vh;
    overflow: scroll;
}  */