* {
    background-color: #e9ece9;
}
.toprated {
    padding: 2rem;
}
.back__button {
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem;
    font-size: 15px;
}
.back__button a {
    text-decoration: none;
    color: black;
}
.back__button:hover{
    box-shadow: 3px 3px 5px black;
}
.toprated__header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.toprated__header-content {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    grid-auto-rows: auto;
    grid-gap: 4rem;
}