* {
    background-color: #e9ece9;
}
.toprated {
    padding: 2rem;
}
.back__button {
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem;
    font-size: 15px;
}
.back__button a {
    text-decoration: none;
    color: black;
}
.back__button:hover{
    box-shadow: 3px 3px 5px black;
}
.toprated__header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 40px;
}
.toprated__header-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 3rem;
}
@media screen and (max-width:900px) {
    .toprated__header-content {
        grid-template-columns: repeat(3, 1fr);
    }
    .toprated__header {
        font-size: 30px;
    }
}
@media screen and (max-width:550px) {
    .toprated__header-content {
        grid-template-columns: repeat(2, 1fr);
    }
    .toprated__header {
        font-size: 25px;
    }
    .back__button {
        font-size: 12px;
    }
}
@media screen and (max-width:320px) {
    .toprated__header-content {
        font-size:10px;
    }
    .back__button {
        font-size: 8px;
    }
}