.navbar {
    background-color: #e9ece9;
    position: fixed;
    width: 100vw;
}
.navbar__content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navbar__content-logo img {
    width: 7vw;
    margin: 0.5rem;
    cursor: pointer;
}
.navbar__content-title {
    font-family: 'Open Sans', sans-serif;
}
.navbar__content-menulist {
    display: flex;
    list-style-type: none;
    padding-left: 15rem;
}
.navbar__content-menulist li {
    padding: 1rem;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}
.navbar__content-menulist li:hover {
    border-radius: 60px;
    background-color: black;
    color: white;
}