.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgrey;
}
.navbar__content{
    display: flex;
    align-items: center;
    gap: 10rem;
}
.navbar__content-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1rem;
}
.navbar__content-logo img {
    width: 7vw;
    cursor: pointer;
    padding: 5px;
}
.navbar__content-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #9ACD32;
}
.navbar__content-menuitmes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__content-menuitmes p {
    padding: 10px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 800;
}
.navbar__content-menuitmes p:hover {
    /* border-radius: 60px; */
    background-color:#9ACD32;
    color: white;
}
.navbar__content-menuitmes a {
    text-decoration: none;
    color: black;
}
.searchbar-container {
    display: flex;
}
.navbar__searchbtn {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 2rem;
    line-height: 27px;
    padding:5px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}
.navbar__searchbtn:hover {
    box-shadow: 3px 3px 5px #BAFF39;
}
.navbar__searchbtn-itmes  {
    border: none;
    outline: none;
    margin: 0;
    width: 100%;
    background-color: darkgray;
}
/* Mobile Menu */
.navbar__menu {
    display: none;
    position: relative;
}
.navbar__menu svg path {
    color: black;
}
.navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 190px;
    border-radius: 20px;
    background-color: rgb(216 245 181);
}
@media screen and (max-width:1050px) {
    .navbar__content {
        gap: 6rem;
    }
    .navbar__content-menuitmes p {
        font-size: 15px;
        padding: 8px;
    }
    .navbar__content-title {
        font-size: 20px;
    }
}
@media screen and (max-width:750px) {
    .navbar__menu {
        display: flex;
        margin-right: 2rem;
    }
    .navbar__searchbtn {
        margin-right: 0;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 50vw;
        justify-content: space-between;
        font-size: 15px;
    }
    .navbar__content-menuitmes {
        display: none;
    }
    .navbar-menu_container-links p {
        padding: 10px;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 800;
    }
    .navbar-menu_container-links a {
        text-decoration: none;
        color: white;
    }
    .navbar-menu_container-links p:hover {
        border-radius: 60px;
        background-color: rgba(0, 0, 0, 0.651);
        color: white;
    }
    .navbar__content-logo img {
        width: 10vw;
    }
    .navbar__content-title {
        font-size:15px;
    }
}
@media screen and (max-width:500px) {
    .navbar__menu {
        margin-right: 5px;
    }
}
@media screen and (max-width:300px) {
    .navbar__content-logo {
        margin-left: 5px;
    }
}