.singlecontent__content-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin-top: 1rem;
    padding-bottom: 10px;
    margin-left: 10px;
}
.singlecontent__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 3rem;
}
.singlecontent__content-img img {
    width: 20vw;
    height: 50vh;
    border-radius: 20px;
    cursor: pointer;
}
.singlecontent__content-img img:hover {
    box-shadow: 3px 3px 5px black;
}