.singlecontent__content-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin-top: 1rem;
    padding-bottom: 10px;
    margin-left: 10px;
}
.singlecontent__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 3rem;
    width: 20vw;
}
.singlecontent__content-img img {
    width: 15vw;
    height: 40vh;
    padding-bottom: 2rem;
}
.singlecontent__content:hover {
    background: rgba(255, 255, 255, 0.06);
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
}